@import "./components/footer.scss";
#headerButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navButton {
  float: right;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
